.home_page_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}
@media (min-width: 1400px) {
    .home_page_container {
        padding: 5rem 5rem;
    }
}
.container_render {
    width: 35rem;
    position: relative;
}
.corazon_icon {
    display: flex;
    flex-direction: row-reverse;
    position:  absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.3rem;
}

.imagen_render {
    width: 100%;
}
.descripcion_img {
    position: absolute;
    bottom: 2rem;
    color: white ;
    margin: 0;
    width: 100%;
    padding: 0 0 0 1rem;
}

