.title_home_page {
    text-align: center;
    font-size: 5rem;
    color: rgb(51 156 50);
}
.home_page_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}
@media (min-width: 1400px) {
    .home_page_container {
        padding: 0rem 5rem;
    }
}
.container_render {
    width: 35rem;
    position: relative;
}
.container_render:hover {
    cursor: pointer;
    /* border: .1rem solid; */
    transform: scale(1.01);
    box-shadow: .2rem .2rem 1rem #868686;
    transition: all .2s ease-in-out;
    border-radius: 1rem;

}

.corazon_icon {
    display: flex;
    flex-direction: row-reverse;
    position:  absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.3rem;
    color: rgb(255, 255, 255);
}

.imagen_render {
    width: 100%;
}
.imagen_render:hover {
    transition: all .2s ease-in-out;
     border-radius: 1rem;

}
.descripcion_img {
    position: absolute;
    bottom: 2rem;
    color: rgb(255, 255, 255) ;
    margin: 0;
    width: 100%;
    padding: 0 1rem 0 1rem;
    /* backdrop-filter: blur(2rem); */
}

