.nav_container {
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap:  2rem;
    background-color: rgb(51 156 50);
    font-size: 1.8rem;
}

.logo_container {
    margin: 1rem;
}

.links_container {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.links_container a {
    text-decoration: none;
    color:white;
}

.links_container a:hover {
    text-decoration: underline;
}
